Vamos a usar un dataset disponible en https://www.datos.gob.ar/dataset, para no cargarlo a mano, se puede utilizar wget para descargarlo con un comando. Despues simplemente lo descomprimo (esta en formato rar).

In [ ]:
!wget http://datos.salud.gob.ar/dataset/c1643775-18e1-40fd-9e7f-0cebb5b1abe6/resource/41691186-72d2-4c3b-a353-7e93fd50a7ed/download/arg_def_15_21.rar
!unrar e ./arg_def_15_21.rar

--2023-09-05 18:16:03--  http://datos.salud.gob.ar/dataset/c1643775-18e1-40fd-9e7f-0cebb5b1abe6/resource/41691186-72d2-4c3b-a353-7e93fd50a7ed/download/arg_def_15_21.rar
Resolving datos.salud.gob.ar (datos.salud.gob.ar)... 181.209.30.84
Connecting to datos.salud.gob.ar (datos.salud.gob.ar)|181.209.30.84|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9808594 (9.4M) [application/rar]
Saving to: ‘arg_def_15_21.rar’

arg_def_15_21.rar   100%[===================>]   9.35M  6.25MB/s    in 1.5s

2023-09-05 18:16:05 (6.25 MB/s) - ‘arg_def_15_21.rar’ saved [9808594/9808594]


UNRAR 6.11 beta 1 freeware      Copyright (c) 1993-2022 Alexander Roshal


Extracting from ./arg_def_15_21.rar

Extracting  arg_def_15_21.csv                                             42% 85%100%  OK
All OK

In [ ]:
import plotly.express as px
import pandas as pd
df = pd.read_csv("arg_def_15_21.csv")

Comop siempre, lo primero que deberiamos hacer es al menos revisar por encima como esta el dataset.

In [ ]:
df.head(10)

,region,jurisdiccion,mes_anio_defuncion,mes_def,anio_def,sexo_id,sexo_nombre,grupo_etario,grupo_causa_defuncion_CIE10,cod_causa_muerte_CIE10,cantidad
0,1.Centro,6.Prov. Bs.As.,09/2015,9,2015,1,1.Varones,01.menor a 20 anios,1500 AFECC PERINATALES,P21,1
1,1.Centro,6.Prov. Bs.As.,09/2015,9,2015,1,1.Varones,01.menor a 20 anios,"1600 MALFORM CONGENITAS, DEFORM Y ANOM CROM...",Q60,1
2,1.Centro,6.Prov. Bs.As.,08/2015,8,2015,1,1.Varones,01.menor a 20 anios,"1600 MALFORM CONGENITAS, DEFORM Y ANOM CROM...",Q24,1
3,1.Centro,6.Prov. Bs.As.,05/2015,5,2015,1,1.Varones,01.menor a 20 anios,1000 ENF SISTEMA RESPIRATORIO,J18,1
4,1.Centro,6.Prov. Bs.As.,10/2015,10,2015,1,1.Varones,01.menor a 20 anios,1500 AFECC PERINATALES,P36,1
5,1.Centro,6.Prov. Bs.As.,07/2015,7,2015,2,2.Mujeres,01.menor a 20 anios,1500 AFECC PERINATALES,P23,1
6,1.Centro,6.Prov. Bs.As.,07/2015,7,2015,1,1.Varones,01.menor a 20 anios,1500 AFECC PERINATALES,P36,1
7,1.Centro,6.Prov. Bs.As.,07/2015,7,2015,2,2.Mujeres,01.menor a 20 anios,1500 AFECC PERINATALES,P07,1
8,1.Centro,6.Prov. Bs.As.,08/2015,8,2015,1,1.Varones,01.menor a 20 anios,0500 TRAST METABOLICOS,E87,1
9,1.Centro,6.Prov. Bs.As.,06/2015,6,2015,1,1.Varones,01.menor a 20 anios,"1600 MALFORM CONGENITAS, DEFORM Y ANOM CROM...",Q24,1

De lo que vemos, podemos querer ver por año y por provincia (jurisdicion) cuanto es el total por año. Para eso deberia agrupar por esos campos y sumar las cantidades.

In [ ]:
df.groupby(["anio_def","jurisdiccion"]).agg({"cantidad":"sum"})

                              cantidad
anio_def jurisdiccion
2015     14.Cordoba.             28874
         18.Corrientes.           6910
         2.CABA                  31653
         22.Chaco.                7697
         30.Entre Rios.          10239
...                                ...
2021     54.Misiones.             9543
         6.Prov. Bs.As.         175545
         82.Santa Fe.            37477
         90.Tucuman.             14336
         99.no identificado.     65963

[84 rows x 1 columns]

Me podria servir una representacion mas matricial de los datos. Como hay pares año/jurisdiccion, podria como la clase pasada hacer un pivot. Pero si ya tengo los datos en este formato, con doble indice, en vez de resetear los indices y aplicar pivot, puedo utilizar unstack para mover uno de los indices a un indice por columna

In [ ]:
df.groupby(["anio_def","jurisdiccion"]).agg({"cantidad":"sum"}).unstack()

                cantidad                                                 \
jurisdiccion 14.Cordoba. 18.Corrientes. 2.CABA 22.Chaco. 30.Entre Rios.
anio_def
2015               28874           6910  31653      7697          10239
2016               31205           7728  33107      8258          11093
2017               30073           7281  32084      7836          10271
2018               29734           7305  30120      8113          10778
2019               30191           7466  30921      8219          10493
2020               33086           7369  35494      8803          10841
2021               37361           9222  35634     11165          13040

                                                                               \
jurisdiccion 34.Formosa. 50.Mendoza. 54.Misiones. 6.Prov. Bs.As. 82.Santa Fe.
anio_def
2015                3604       13778         6778         136447        29699
2016                4088       14473         7602         141447        32016
2017                3922       14412         7137         138938        30054
2018                3910       14016         7186         136002        29509
2019                3806       14193         7260         137925        29625
2020                3693       16622         7122         150675        32896
2021                5090       17866         9543         175545        37477


jurisdiccion 90.Tucuman. 99.no identificado.
anio_def
2015               10839               46925
2016               11333               50156
2017               11058               49278
2018               11125               49802
2019               11348               49610
2020               13153               57838
2021               14336               65963

Por defecto es el indice mas bajo, podria tambien indicar el numero de indice para que por ej en este caso use el indice de años

In [ ]:
df.groupby(["anio_def","jurisdiccion"]).agg({"cantidad":"sum"}).unstack(0)

                    cantidad
anio_def                2015    2016    2017    2018    2019    2020    2021
jurisdiccion
14.Cordoba.            28874   31205   30073   29734   30191   33086   37361
18.Corrientes.          6910    7728    7281    7305    7466    7369    9222
2.CABA                 31653   33107   32084   30120   30921   35494   35634
22.Chaco.               7697    8258    7836    8113    8219    8803   11165
30.Entre Rios.         10239   11093   10271   10778   10493   10841   13040
34.Formosa.             3604    4088    3922    3910    3806    3693    5090
50.Mendoza.            13778   14473   14412   14016   14193   16622   17866
54.Misiones.            6778    7602    7137    7186    7260    7122    9543
6.Prov. Bs.As.        136447  141447  138938  136002  137925  150675  175545
82.Santa Fe.           29699   32016   30054   29509   29625   32896   37477
90.Tucuman.            10839   11333   11058   11125   11348   13153   14336
99.no identificado.    46925   50156   49278   49802   49610   57838   65963

In [ ]:
unstacked = df.groupby(["anio_def","jurisdiccion"]).agg({"cantidad":"sum"}).unstack()
unstacked

                cantidad                                                 \
jurisdiccion 14.Cordoba. 18.Corrientes. 2.CABA 22.Chaco. 30.Entre Rios.
anio_def
2015               28874           6910  31653      7697          10239
2016               31205           7728  33107      8258          11093
2017               30073           7281  32084      7836          10271
2018               29734           7305  30120      8113          10778
2019               30191           7466  30921      8219          10493
2020               33086           7369  35494      8803          10841
2021               37361           9222  35634     11165          13040

                                                                               \
jurisdiccion 34.Formosa. 50.Mendoza. 54.Misiones. 6.Prov. Bs.As. 82.Santa Fe.
anio_def
2015                3604       13778         6778         136447        29699
2016                4088       14473         7602         141447        32016
2017                3922       14412         7137         138938        30054
2018                3910       14016         7186         136002        29509
2019                3806       14193         7260         137925        29625
2020                3693       16622         7122         150675        32896
2021                5090       17866         9543         175545        37477


jurisdiccion 90.Tucuman. 99.no identificado.
anio_def
2015               10839               46925
2016               11333               50156
2017               11058               49278
2018               11125               49802
2019               11348               49610
2020               13153               57838
2021               14336               65963

Lo que molesta, es que en este caso me queda un multiindice de dos niveles en las columnas. La forma mas facil de eliminarlo es sobreescribiendo 'columns'.

Si leo del multiindice el nivel mas bajo, puedo quedarme con los nombres de las jurisdicciones:

In [ ]:
unstacked.columns[1]

('cantidad', '18.Corrientes.')

In [ ]:
unstacked.columns = [ " ".join(x[1].split(".")[1:]).lower() for x in unstacked.columns]

In [ ]:
unstacked

,cordoba,corrientes,caba,chaco,entre rios,formosa,mendoza,misiones,prov bs as,santa fe,tucuman,no identificado
anio_def,,,,,,,,,,,,
2015,28874,6910,31653,7697,10239,3604,13778,6778,136447,29699,10839,46925
2016,31205,7728,33107,8258,11093,4088,14473,7602,141447,32016,11333,50156
2017,30073,7281,32084,7836,10271,3922,14412,7137,138938,30054,11058,49278
2018,29734,7305,30120,8113,10778,3910,14016,7186,136002,29509,11125,49802
2019,30191,7466,30921,8219,10493,3806,14193,7260,137925,29625,11348,49610
2020,33086,7369,35494,8803,10841,3693,16622,7122,150675,32896,13153,57838
2021,37361,9222,35634,11165,13040,5090,17866,9543,175545,37477,14336,65963

In [ ]:
px.imshow(unstacked, text_auto=True, aspect="auto")

# Datasets y datos mal formados

De lo que hicimos recien, ya nos damos cuenta que no estan todas las provincias, y que hay una columna de "no identificados".

In [ ]:
unstacked

,cordoba,corrientes,caba,chaco,entre rios,formosa,mendoza,misiones,prov bs as,santa fe,tucuman,no identificado
anio_def,,,,,,,,,,,,
2015,28874,6910,31653,7697,10239,3604,13778,6778,136447,29699,10839,46925
2016,31205,7728,33107,8258,11093,4088,14473,7602,141447,32016,11333,50156
2017,30073,7281,32084,7836,10271,3922,14412,7137,138938,30054,11058,49278
2018,29734,7305,30120,8113,10778,3910,14016,7186,136002,29509,11125,49802
2019,30191,7466,30921,8219,10493,3806,14193,7260,137925,29625,11348,49610
2020,33086,7369,35494,8803,10841,3693,16622,7122,150675,32896,13153,57838
2021,37361,9222,35634,11165,13040,5090,17866,9543,175545,37477,14336,65963

Si agrupamos distinto podemos ver que en si "no faltan cosas" pero que si no respetan la documentacion que ellos mismos proveen

In [ ]:
df.groupby(["region","jurisdiccion"]).agg({"cantidad":"sum"})

                                         cantidad
region              jurisdiccion
1.Centro            14.Cordoba.            220524
                    2.CABA                 229013
                    30.Entre Rios.          76755
                    6.Prov. Bs.As.        1016979
                    82.Santa Fe.           221276
10.sin especificar. 99.no identificado.      9196
2.NEA.              18.Corrientes.          53281
                    22.Chaco.               60091
                    34.Formosa.             28113
                    54.Misiones.            52628
3.NOA1.             99.no identificado.     94420
4.NOA.              90.Tucuman.             83192
5.NOA2.             99.no identificado.     64110
6.Cuyo1             50.Mendoza.            105360
7.Cuyo2.            99.no identificado.     80022
8.Pat. Norte.       99.no identificado.     80292
9.Pat.Sur.          99.no identificado.     41532

Otra cosa que revisando podemos encontrar en las fechas

In [ ]:
df.mes_anio_defuncion.unique()

array(['09/2015', '08/2015', '05/2015', '10/2015', '07/2015', '06/2015',
       '02/2015', '12/2015', '01/2015', '11/2015', '04/2015', '03/2015',
       '00/2015', '02/2016', '04/2016', '05/2016', '07/2016', '08/2016',
       '09/2016', '10/2016', '11/2016', '12/2016', '01/2016', '06/2016',
       '03/2016', '08/2017', '05/2017', '09/2017', '07/2017', '06/2017',
       '12/2017', '01/2017', '03/2017', '02/2017', '04/2017', '10/2017',
       '11/2017', '00/2017', '06/2018', '12/2018', '03/2018', '05/2018',
       '10/2018', '02/2018', '08/2018', '04/2018', '11/2018', '01/2018',
       '07/2018', '09/2018', '00/2018', '01/2019', '00/2019', '02/2019',
       '03/2019', '06/2019', '04/2019', '05/2019', '07/2019', '08/2019',
       '09/2019', '10/2019', '11/2019', '12/2019', '10/2020', '02/2020',
       '12/2020', '08/2020', '09/2020', '06/2020', '01/2020', '04/2020',
       '07/2020', '03/2020', '00/2020', '05/2020', '11/2020', '01/2021',
       '05/2021', '06/2021', '10/2021', '12/2021', '03/2021', '02/2021',
       '07/2021', '04/2021', '08/2021', '11/2021', '09/2021', '00/2021'],
      dtype=object)

Hay fechas con mes 00, lo que es medio raro de saber que es lo que se supone representan.

De todas formas, el problema mas grande que tiene el dataset, es lo que ocupa

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2516784 entries, 0 to 2516783
Data columns (total 11 columns):
 #   Column                       Dtype
---  ------                       -----
 0   region                       object
 1   jurisdiccion                 object
 2   mes_anio_defuncion           object
 3   mes_def                      int64
 4   anio_def                     int64
 5   sexo_id                      int64
 6   sexo_nombre                  object
 7   grupo_etario                 object
 8   grupo_causa_defuncion_CIE10  object
 9   cod_causa_muerte_CIE10       object
 10  cantidad                     int64
dtypes: int64(4), object(7)
memory usage: 211.2+ MB

Si vemos la documentacion asociada, dice que el dataset tiene en cantidad un valor 1 siempre (osea, se podria directamente omitir). Si en vez de tener 1s, cada fila tuviera la cantidad total, ocuparia menos?

Como no quiero pensar mucho, directamente puedo hacer un groupby por todas las columnas (menos la de cantidad) y sumar

In [ ]:
df.groupby(list(df.columns[:-1])).sum()

                                                                                                                                                                                              cantidad
region     jurisdiccion        mes_anio_defuncion mes_def anio_def sexo_id sexo_nombre       grupo_etario          grupo_causa_defuncion_CIE10                        cod_causa_muerte_CIE10
1.Centro   14.Cordoba.         00/2015            0       2015     2       2.Mujeres         07. de 80 anios y mas 0900 ENF  DEL SISTEMA CIRCULATORIO                 I25                            1
                               00/2020            0       2020     9       9.Sin especificar 08.sin especificar    0200 T MALIGNOS                                    C25                            1
                               01/2015            1       2015     1       1.Varones         01.menor a 20 anios   0200 T MALIGNOS                                    C91                            2
                                                                                                                   0900 ENF  DEL SISTEMA CIRCULATORIO                 I27                            1
                                                                                                                                                                      I51                            1
...                                                                                                                                                                                                ...
9.Pat.Sur. 99.no identificado. 12/2021            12      2021     2       2.Mujeres         07. de 80 anios y mas 1900 SIGNOS, SINTOMAS Y AFECCIONES MAL DEFINIDA... R10                            1
                                                                                                                                                                      R54                            1
                                                                                                                                                                      R57                            3
                                                                                                                                                                      R99                            9
                                                                   9       9.Sin especificar 05.de 60 a 69 anios   1000 ENF SISTEMA RESPIRATORIO                      J81                            1

[745969 rows x 1 columns]

Pero asi como esta no me sirve, al menos no para comparar contra el original porque son 2 cosas distintas. Para llevarlo a algo del mismo formato, puedo simplemente resetear el indice

In [ ]:
df2 = df.groupby(list(df.columns[:-1])).sum().reset_index()
df2

,region,jurisdiccion,mes_anio_defuncion,mes_def,anio_def,sexo_id,sexo_nombre,grupo_etario,grupo_causa_defuncion_CIE10,cod_causa_muerte_CIE10,cantidad
0,1.Centro,14.Cordoba.,00/2015,0,2015,2,2.Mujeres,07. de 80 anios y mas,0900 ENF DEL SISTEMA CIRCULATORIO,I25,1
1,1.Centro,14.Cordoba.,00/2020,0,2020,9,9.Sin especificar,08.sin especificar,0200 T MALIGNOS,C25,1
2,1.Centro,14.Cordoba.,01/2015,1,2015,1,1.Varones,01.menor a 20 anios,0200 T MALIGNOS,C91,2
3,1.Centro,14.Cordoba.,01/2015,1,2015,1,1.Varones,01.menor a 20 anios,0900 ENF DEL SISTEMA CIRCULATORIO,I27,1
4,1.Centro,14.Cordoba.,01/2015,1,2015,1,1.Varones,01.menor a 20 anios,0900 ENF DEL SISTEMA CIRCULATORIO,I51,1
...,...,...,...,...,...,...,...,...,...,...,...
745964,9.Pat.Sur.,99.no identificado.,12/2021,12,2021,2,2.Mujeres,07. de 80 anios y mas,"1900 SIGNOS, SINTOMAS Y AFECCIONES MAL DEFINID...",R10,1
745965,9.Pat.Sur.,99.no identificado.,12/2021,12,2021,2,2.Mujeres,07. de 80 anios y mas,"1900 SIGNOS, SINTOMAS Y AFECCIONES MAL DEFINID...",R54,1
745966,9.Pat.Sur.,99.no identificado.,12/2021,12,2021,2,2.Mujeres,07. de 80 anios y mas,"1900 SIGNOS, SINTOMAS Y AFECCIONES MAL DEFINID...",R57,3
745967,9.Pat.Sur.,99.no identificado.,12/2021,12,2021,2,2.Mujeres,07. de 80 anios y mas,"1900 SIGNOS, SINTOMAS Y AFECCIONES MAL DEFINID...",R99,9
745968,9.Pat.Sur.,99.no identificado.,12/2021,12,2021,9,9.Sin especificar,05.de 60 a 69 anios,1000 ENF SISTEMA RESPIRATORIO,J81,1

Ahora vemos, que asi agrupado los datos ocupan...

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745969 entries, 0 to 745968
Data columns (total 11 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   region                       745969 non-null  object
 1   jurisdiccion                 745969 non-null  object
 2   mes_anio_defuncion           745969 non-null  object
 3   mes_def                      745969 non-null  int64
 4   anio_def                     745969 non-null  int64
 5   sexo_id                      745969 non-null  int64
 6   sexo_nombre                  745969 non-null  object
 7   grupo_etario                 745969 non-null  object
 8   grupo_causa_defuncion_CIE10  745969 non-null  object
 9   cod_causa_muerte_CIE10       745969 non-null  object
 10  cantidad                     745969 non-null  int64
dtypes: int64(4), object(7)
memory usage: 62.6+ MB

casi 1/4 de la memoria, *pretends to be shocked* (?

Ya que estamos, veamos si podemos optimizar el uso de la memoria

In [ ]:
df2.head()

,region,jurisdiccion,mes_anio_defuncion,mes_def,anio_def,sexo_id,sexo_nombre,grupo_etario,grupo_causa_defuncion_CIE10,cod_causa_muerte_CIE10,cantidad
0,1.Centro,14.Cordoba.,00/2015,0,2015,2,2.Mujeres,07. de 80 anios y mas,0900 ENF DEL SISTEMA CIRCULATORIO,I25,1
1,1.Centro,14.Cordoba.,00/2020,0,2020,9,9.Sin especificar,08.sin especificar,0200 T MALIGNOS,C25,1
2,1.Centro,14.Cordoba.,01/2015,1,2015,1,1.Varones,01.menor a 20 anios,0200 T MALIGNOS,C91,2
3,1.Centro,14.Cordoba.,01/2015,1,2015,1,1.Varones,01.menor a 20 anios,0900 ENF DEL SISTEMA CIRCULATORIO,I27,1
4,1.Centro,14.Cordoba.,01/2015,1,2015,1,1.Varones,01.menor a 20 anios,0900 ENF DEL SISTEMA CIRCULATORIO,I51,1

- **mes_anio** se puede volar, literal no aporta informacion
- mes, año, y sexo_id tienen valores numericos acotados, capaz lo puedo representar con un entero mas chico

In [ ]:
df2 = df2.drop("mes_anio_defuncion",axis=1)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745969 entries, 0 to 745968
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   region                       745969 non-null  object
 1   jurisdiccion                 745969 non-null  object
 2   mes_def                      745969 non-null  int64
 3   anio_def                     745969 non-null  int64
 4   sexo_id                      745969 non-null  int64
 5   sexo_nombre                  745969 non-null  object
 6   grupo_etario                 745969 non-null  object
 7   grupo_causa_defuncion_CIE10  745969 non-null  object
 8   cod_causa_muerte_CIE10       745969 non-null  object
 9   cantidad                     745969 non-null  int64
dtypes: int64(4), object(6)
memory usage: 56.9+ MB

Mes claramente entra en un entero de 8 bits

In [ ]:
df2.mes_def = df2.mes_def.astype("int8")

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745969 entries, 0 to 745968
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   region                       745969 non-null  object
 1   jurisdiccion                 745969 non-null  object
 2   mes_def                      745969 non-null  int8
 3   anio_def                     745969 non-null  int64
 4   sexo_id                      745969 non-null  int64
 5   sexo_nombre                  745969 non-null  object
 6   grupo_etario                 745969 non-null  object
 7   grupo_causa_defuncion_CIE10  745969 non-null  object
 8   cod_causa_muerte_CIE10       745969 non-null  object
 9   cantidad                     745969 non-null  int64
dtypes: int64(3), int8(1), object(6)
memory usage: 51.9+ MB

Si bien los valores son pocos, no entran en un entero de 8

In [ ]:
df2.anio_def.astype("int8")

0        -33
1        -28
2        -33
3        -33
4        -33
          ..
745964   -27
745965   -27
745966   -27
745967   -27
745968   -27
Name: anio_def, Length: 745969, dtype: int8

Asi que deberiamos usar 16 bits

In [ ]:
df2.anio_def.astype("int16")

0         2015
1         2020
2         2015
3         2015
4         2015
          ...
745964    2021
745965    2021
745966    2021
745967    2021
745968    2021
Name: anio_def, Length: 745969, dtype: int16

Podemos ver que obviamente con un tipo ocupa el doble del otro

In [ ]:
df2.anio_def.astype("int8").info()

<class 'pandas.core.series.Series'>
RangeIndex: 745969 entries, 0 to 745968
Series name: anio_def
Non-Null Count   Dtype
--------------   -----
745969 non-null  int8
dtypes: int8(1)
memory usage: 728.6 KB

In [ ]:
df2.anio_def.astype("int16").info()

<class 'pandas.core.series.Series'>
RangeIndex: 745969 entries, 0 to 745968
Series name: anio_def
Non-Null Count   Dtype
--------------   -----
745969 non-null  int16
dtypes: int16(1)
memory usage: 1.4 MB

Pero sabiendo que son pocos valores, bien podria:

In [ ]:
df2.anio_def.astype("category")

0         2015
1         2020
2         2015
3         2015
4         2015
          ...
745964    2021
745965    2021
745966    2021
745967    2021
745968    2021
Name: anio_def, Length: 745969, dtype: category
Categories (7, int64): [2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [ ]:
df2.anio_def.astype("category").info()

<class 'pandas.core.series.Series'>
RangeIndex: 745969 entries, 0 to 745968
Series name: anio_def
Non-Null Count   Dtype
--------------   -----
745969 non-null  category
dtypes: category(1)
memory usage: 729.0 KB

Y ocupa ahora practicamente lo mismo que si estuviera representado con un entero de 8.

La magia aca es que todo esto vale si y solo si voy a considerar los datos como categoria en mi analisis. Si quisiera operar, este formato no me deja:

In [ ]:
df2.anio_def.astype("category") + df2.anio_def.astype("category")

TypeError: ignored

Transformo entonces las 2 columnas esas

In [ ]:
df2.anio_def = df2.anio_def.astype("int16")
df2.sexo_id = df2.sexo_id.astype("int8")
df2

,region,jurisdiccion,mes_def,anio_def,sexo_id,sexo_nombre,grupo_etario,grupo_causa_defuncion_CIE10,cod_causa_muerte_CIE10,cantidad
0,1.Centro,14.Cordoba.,0,2015,2,2.Mujeres,07. de 80 anios y mas,0900 ENF DEL SISTEMA CIRCULATORIO,I25,1
1,1.Centro,14.Cordoba.,0,2020,9,9.Sin especificar,08.sin especificar,0200 T MALIGNOS,C25,1
2,1.Centro,14.Cordoba.,1,2015,1,1.Varones,01.menor a 20 anios,0200 T MALIGNOS,C91,2
3,1.Centro,14.Cordoba.,1,2015,1,1.Varones,01.menor a 20 anios,0900 ENF DEL SISTEMA CIRCULATORIO,I27,1
4,1.Centro,14.Cordoba.,1,2015,1,1.Varones,01.menor a 20 anios,0900 ENF DEL SISTEMA CIRCULATORIO,I51,1
...,...,...,...,...,...,...,...,...,...,...
745964,9.Pat.Sur.,99.no identificado.,12,2021,2,2.Mujeres,07. de 80 anios y mas,"1900 SIGNOS, SINTOMAS Y AFECCIONES MAL DEFINID...",R10,1
745965,9.Pat.Sur.,99.no identificado.,12,2021,2,2.Mujeres,07. de 80 anios y mas,"1900 SIGNOS, SINTOMAS Y AFECCIONES MAL DEFINID...",R54,1
745966,9.Pat.Sur.,99.no identificado.,12,2021,2,2.Mujeres,07. de 80 anios y mas,"1900 SIGNOS, SINTOMAS Y AFECCIONES MAL DEFINID...",R57,3
745967,9.Pat.Sur.,99.no identificado.,12,2021,2,2.Mujeres,07. de 80 anios y mas,"1900 SIGNOS, SINTOMAS Y AFECCIONES MAL DEFINID...",R99,9
745968,9.Pat.Sur.,99.no identificado.,12,2021,9,9.Sin especificar,05.de 60 a 69 anios,1000 ENF SISTEMA RESPIRATORIO,J81,1

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745969 entries, 0 to 745968
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   region                       745969 non-null  object
 1   jurisdiccion                 745969 non-null  object
 2   mes_def                      745969 non-null  int8
 3   anio_def                     745969 non-null  int16
 4   sexo_id                      745969 non-null  int8
 5   sexo_nombre                  745969 non-null  object
 6   grupo_etario                 745969 non-null  object
 7   grupo_causa_defuncion_CIE10  745969 non-null  object
 8   cod_causa_muerte_CIE10       745969 non-null  object
 9   cantidad                     745969 non-null  int64
dtypes: int16(1), int64(1), int8(2), object(6)
memory usage: 42.7+ MB

Aplicando la misma logica, puedo reducir mas el tamaño considerando que las otras columnas son categoricas

In [ ]:
df2.region = df2.region.astype("category")
df2.jurisdiccion = df2.jurisdiccion.astype("category")
df2.sexo_id = df2.sexo_id.astype("category")
df2.sexo_nombre = df2.sexo_nombre.astype("category")
df2.grupo_etario = df2.grupo_etario.astype("category")
df2.grupo_causa_defuncion_CIE10 = df2.grupo_causa_defuncion_CIE10.astype("category")
df2.cod_causa_muerte_CIE10 = df2.cod_causa_muerte_CIE10.astype("category")

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745969 entries, 0 to 745968
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   region                       745969 non-null  category
 1   jurisdiccion                 745969 non-null  category
 2   mes_def                      745969 non-null  int8
 3   anio_def                     745969 non-null  int16
 4   sexo_id                      745969 non-null  category
 5   sexo_nombre                  745969 non-null  category
 6   grupo_etario                 745969 non-null  category
 7   grupo_causa_defuncion_CIE10  745969 non-null  category
 8   cod_causa_muerte_CIE10       745969 non-null  category
 9   cantidad                     745969 non-null  int64
dtypes: category(7), int16(1), int64(1), int8(1)
memory usage: 13.6 MB

Notar que igual puedo por ejemplo ordenar el dataset por la variable categorica

In [ ]:
df2.sort_values("grupo_etario")

,region,jurisdiccion,mes_def,anio_def,sexo_id,sexo_nombre,grupo_etario,grupo_causa_defuncion_CIE10,cod_causa_muerte_CIE10,cantidad
525284,3.NOA1.,99.no identificado.,12,2017,1,1.Varones,01.menor a 20 anios,1700 CAUSAS EXTERNAS,V29,1
272637,1.Centro,6.Prov. Bs.As.,10,2018,2,2.Mujeres,01.menor a 20 anios,1500 AFECC PERINATALES,P96,3
272638,1.Centro,6.Prov. Bs.As.,10,2018,2,2.Mujeres,01.menor a 20 anios,"1600 MALFORM CONGENITAS, DEFORM Y ANOM CROM...",Q00,3
272639,1.Centro,6.Prov. Bs.As.,10,2018,2,2.Mujeres,01.menor a 20 anios,"1600 MALFORM CONGENITAS, DEFORM Y ANOM CROM...",Q03,1
272640,1.Centro,6.Prov. Bs.As.,10,2018,2,2.Mujeres,01.menor a 20 anios,"1600 MALFORM CONGENITAS, DEFORM Y ANOM CROM...",Q04,2
...,...,...,...,...,...,...,...,...,...,...
178594,1.Centro,6.Prov. Bs.As.,2,2020,1,1.Varones,08.sin especificar,0200 T MALIGNOS,C16,2
659465,7.Cuyo2.,99.no identificado.,6,2019,2,2.Mujeres,08.sin especificar,0200 T MALIGNOS,C34,1
245714,1.Centro,6.Prov. Bs.As.,8,2016,2,2.Mujeres,08.sin especificar,0100 CIERTAS ENF INFECCIOSAS Y PARASITARIAS,A41,4
245716,1.Centro,6.Prov. Bs.As.,8,2016,2,2.Mujeres,08.sin especificar,0200 T MALIGNOS,C18,2
217842,1.Centro,6.Prov. Bs.As.,6,2015,1,1.Varones,08.sin especificar,"1900 SIGNOS, SINTOMAS Y AFECCIONES MAL DEFINID...",R96,1

In [ ]:
df2.grupo_etario.map(lambda x: x.split(".")[1])

0          de 80 anios y mas
1            sin especificar
2           menor a 20 anios
3           menor a 20 anios
4           menor a 20 anios
                 ...
745964     de 80 anios y mas
745965     de 80 anios y mas
745966     de 80 anios y mas
745967     de 80 anios y mas
745968      de 60 a 69 anios
Name: grupo_etario, Length: 745969, dtype: category
Categories (8, object): ['menor a 20 anios', 'de 20 a 39 anios', 'de 40 a 49 anios', 'de 50 a 59 anios',
                         'de 60 a 69 anios', 'de 70 a 79 anios', ' de 80 anios y mas',
                         'sin especificar']

El map en este caso opera sobre la tabla de traduccion.

La tabla de traduccion recordar que ocupa espacio en memoria, si no hay valores repetidos, la columna va a terminar ocupando mas espacio

In [ ]:
s = pd.Series([i for i in range(len(df2))])

In [ ]:
s.info()

<class 'pandas.core.series.Series'>
RangeIndex: 745969 entries, 0 to 745968
Series name: None
Non-Null Count   Dtype
--------------   -----
745969 non-null  int64
dtypes: int64(1)
memory usage: 5.7 MB

In [ ]:
s.astype("category").info()

<class 'pandas.core.series.Series'>
RangeIndex: 745969 entries, 0 to 745968
Series name: None
Non-Null Count   Dtype
--------------   -----
745969 non-null  category
dtypes: category(1)
memory usage: 24.7 MB

Saber los tipos de antemano, me permite poder abrir el archivo ya con los tipos correctos.

De df2, podemos obtener los dtypes para cada columna (es solo para explicar el codigo y aprovechar que ya df2 tiene lso tipos asociados a la columna, sino deberia escribir este diccionario a mano.

In [ ]:
{idx:str(df2.dtypes[idx]) for idx in df2.dtypes.index}

{'region': 'category',
 'jurisdiccion': 'category',
 'mes_def': 'int8',
 'anio_def': 'int16',
 'sexo_id': 'category',
 'sexo_nombre': 'category',
 'grupo_etario': 'category',
 'grupo_causa_defuncion_CIE10': 'category',
 'cod_causa_muerte_CIE10': 'category',
 'cantidad': 'int64'}

El df original ocupaba

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2516784 entries, 0 to 2516783
Data columns (total 11 columns):
 #   Column                       Dtype
---  ------                       -----
 0   region                       object
 1   jurisdiccion                 object
 2   mes_anio_defuncion           object
 3   mes_def                      int64
 4   anio_def                     int64
 5   sexo_id                      int64
 6   sexo_nombre                  object
 7   grupo_etario                 object
 8   grupo_causa_defuncion_CIE10  object
 9   cod_causa_muerte_CIE10       object
 10  cantidad                     int64
dtypes: int64(4), object(7)
memory usage: 211.2+ MB

In [ ]:
df3 = pd.read_csv("arg_def_15_21.csv",dtype={idx:str(df2.dtypes[idx]) for idx in df2.dtypes.index})
df3

,region,jurisdiccion,mes_anio_defuncion,mes_def,anio_def,sexo_id,sexo_nombre,grupo_etario,grupo_causa_defuncion_CIE10,cod_causa_muerte_CIE10,cantidad
0,1.Centro,6.Prov. Bs.As.,09/2015,9,2015,1,1.Varones,01.menor a 20 anios,1500 AFECC PERINATALES,P21,1
1,1.Centro,6.Prov. Bs.As.,09/2015,9,2015,1,1.Varones,01.menor a 20 anios,"1600 MALFORM CONGENITAS, DEFORM Y ANOM CROM...",Q60,1
2,1.Centro,6.Prov. Bs.As.,08/2015,8,2015,1,1.Varones,01.menor a 20 anios,"1600 MALFORM CONGENITAS, DEFORM Y ANOM CROM...",Q24,1
3,1.Centro,6.Prov. Bs.As.,05/2015,5,2015,1,1.Varones,01.menor a 20 anios,1000 ENF SISTEMA RESPIRATORIO,J18,1
4,1.Centro,6.Prov. Bs.As.,10/2015,10,2015,1,1.Varones,01.menor a 20 anios,1500 AFECC PERINATALES,P36,1
...,...,...,...,...,...,...,...,...,...,...,...
2516779,2.NEA.,18.Corrientes.,09/2021,9,2021,1,1.Varones,01.menor a 20 anios,1500 AFECC PERINATALES,P22,1
2516780,2.NEA.,18.Corrientes.,10/2021,10,2021,1,1.Varones,01.menor a 20 anios,1500 AFECC PERINATALES,P00,1
2516781,2.NEA.,18.Corrientes.,11/2021,11,2021,1,1.Varones,01.menor a 20 anios,0100 CIERTAS ENF INFECCIOSAS Y PARASITARIAS,A09,1
2516782,2.NEA.,18.Corrientes.,12/2021,12,2021,1,1.Varones,01.menor a 20 anios,1500 AFECC PERINATALES,P20,1
2516783,2.NEA.,18.Corrientes.,12/2021,12,2021,1,1.Varones,01.menor a 20 anios,1500 AFECC PERINATALES,P23,1

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2516784 entries, 0 to 2516783
Data columns (total 11 columns):
 #   Column                       Dtype
---  ------                       -----
 0   region                       category
 1   jurisdiccion                 category
 2   mes_anio_defuncion           object
 3   mes_def                      int8
 4   anio_def                     int16
 5   sexo_id                      category
 6   sexo_nombre                  category
 7   grupo_etario                 category
 8   grupo_causa_defuncion_CIE10  category
 9   cod_causa_muerte_CIE10       category
 10  cantidad                     int64
dtypes: category(7), int16(1), int64(1), int8(1), object(1)
memory usage: 64.8+ MB