In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("anime.csv")

Si revisamos rapido a simple vista, vemos que las columnas del dataframe nos da el genero de cada serie.

In [4]:
df.columns

Index(['MAL_ID', 'Name', 'Score', 'Genres', 'English name', 'Japanese name',
       'Type', 'Episodes', 'Aired', 'Premiered', 'Producers', 'Licensors',
       'Studios', 'Source', 'Duration', 'Rating', 'Ranked', 'Popularity',
       'Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped',
       'Plan to Watch', 'Score-10', 'Score-9', 'Score-8', 'Score-7', 'Score-6',
       'Score-5', 'Score-4', 'Score-3', 'Score-2', 'Score-1'],
      dtype='object')

Siguiendo esa logica, entonces si agrupo por genero y cuento cuantas series para cada genero hay, puedo encontrar los generos mas populares (considerando que si se hacen muchas series es porque son mas populares). Haciendo eso encontramos que el genero mas popular es

In [5]:
nuevo = df.groupby(["Genres"]).agg({"MAL_ID":["count"]})
nuevo.columns =  ["series"]
maxima_cantidad = nuevo.series.max()
nuevo[ nuevo.series >= maxima_cantidad]

        series
Genres
Hentai     969

El problema con todo esto es que no revise los datos antes. Si hubiese revisado que valores podia tener la columna que estaba utilizando, hubiera notado que las series pueden tener mas de un genero a la vez. Y por eso, al hacer el groupby cada 'subclase' se contabiliza por separado, llevando a resultados erroneos.

In [6]:
nuevo

                                                  series
Genres
Action                                                65
Action, Adventure                                     22
Action, Adventure, Cars                                4
Action, Adventure, Cars, Comedy, Kids, Police          2
Action, Adventure, Cars, Comedy, Sci-Fi, Shounen       2
...                                                  ...
Thriller, Mystery, Sci-Fi                              1
Thriller, Sci-Fi                                       1
Unknown                                               63
Vampire                                                3
Yaoi                                                   3

[5034 rows x 1 columns]